
{% extends "../base/base.html" %}
{% block title %}
all doctors
{% endblock %}
{% block content %}

{% for d in alld %}

 <div class="container">
 <div class="row">
 <div class="col-lg-6 mb-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{d.profileimg.url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{d}}</h5>
    <p class="card-text">This doctors city --{{d.city}}</p>
      <button type="button" class="btn btn-primary" >
    Book Appointment
  </button>

  </div>
</div>
  </div>
   </div>
 </div>

 


 {% endfor %}


{% endblock %}