{% extends "../base/base.html" %}
{% block title %}
category
{% endblock %}
{% block content %}



<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 pb-5">
        <h1>List of all posts by doctors</h1>
      </div>
      {% for post in catlist.posts %}
      <div class="card" style="width: 18rem;">
          <a class="text-dark" href="{{post.get_absolute_url}}">
          
          <div class="card-body">
            <h5 class="card-title">{{post.title|truncatechars:50}}</h5>
            <p class="card-text">{{post.summary|truncatewords:15}}</p>
           
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}