{% extends "../base/base.html" %}
{% block title %}
upload post
{% endblock %}

{% block content %}

<div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12 pb-5">
          <h1>List of all posts published by you</h1>
        </div>
        {% for post in yourposts %}
       <!-- <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete">!-->
         
        </button>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{post.postimg.url}}" alt="Card image cap">
            <a class="text-dark" href="{{post.get_absolute_url}}">
            
            <div class="card-body">
              <h5 class="card-title">{{post.title|truncatechars:50}}</h5>
              <p class="card-text">{{post.summary|truncatewords:15 }}</p>
             
            </div>
            <a href="{% url 'blog:delete' post.id %}" class="btn btn-danger " type="button"title="Delete">
             Delete
              </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>



{% endblock %}