{% extends "./base/base.html" %}
{% block title %}register {% endblock %}
{% block content %}
{% include "base/nav.html" %}



    <div class="content">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 contents">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <div class="form-block">
                  <div class="mb-4">
                    <h1>User Registration page</h1>
                  </div>
                  <span class="mb-0 text-muted">
                    {% for message in messages %}
                    <h1>{{message}}</h1>
                    {% endfor %}
                  </span>
                  <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group last mb-4">
                      <input type="text" name="username" placeholder="Username" >
                    </div>

                    <div class="form-group last mb-4">
                      <input type="email" name="email" placeholder="Email" >
                    </div>

                    <div class="form-group last mb-4">
                      <input type="password" name="password" placeholder="Password" >
                    </div>
                    
                

                    <div class="form-group last mb-4">
                    <input type="password" name="password2" placeholder="Confirm Password"  >
                    </div>

                   <div class="form-group last mb-4">
                            <label for=""> Profile Image</label>
                            <input type="file" name="image" value="" class="shadow-none bg-gray-100">
                    </div>

                    <div class="form-group last mb-4">
                      <input type="text" name="firstname" placeholder="firstname" >
                    </div>
                    <div class="form-group last mb-4">
                      <input type="text" name="lastname" placeholder="lastname" >
                    </div>
                    <div class="form-group last mb-4">
                      <label>enter capital P if u are a patient</label>
                      <input type="text" name="patient" placeholder="P" >
                    </div>
                    <div class="form-group last mb-4">
                      <label>enter capital D if u are a doctor</label>
                      <input type="text" name="doctor" placeholder="D" >
                    </div>
                    
                    
                    


                    <div class="form-group last mb-4">
                      <input type="text" name="Area" placeholder="Address" >
                    </div>

                    <div class="form-group last mb-4">
                      <input type="text" name="city" placeholder="City" >
                    </div>

                    <div class="form-group last mb-4">
                      <input type="text" name="state" placeholder="State" >
                    </div>
                    <div class="form-group last mb-4">
                      <input type="number" name="pincode" placeholder="pincode" >
                    </div>
                    
                    


                     
                   

                   <input
                   type="submit"
                   value="Register"
                   class="btn btn-primary"
                 />
                </form>


      


                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
